# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dev_assets

./public/storage/m3u8

./config/config.js
./FantasyVideo/logs
./FantasyVideo/*.log
./FantasyVideo/npm-debug.log*
./FantasyVideo/yarn-debug.log*
./FantasyVideo/yarn-error.log*
./FantasyVideo/pnpm-debug.log*
./FantasyVideo/lerna-debug.log*

node_modules
dist
dist-ssr
*.local

./FantasyVideo/node_modules
./FantasyVideo/dist
./FantasyVideo/dist-ssr
./FantasyVideo/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
